body
{
	font-family: Arial;
}
.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.container h1
{
	color: red;
	font-size: 36px;
	margin-bottom: 40px;
}

.header
{
	padding: 8=6px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 15px;
}

h3
{
	text-align: left;
}

p
{
	text-align: left;
}

/*.input
{
	text-align: left;
}*/

.button
{
	background: black;
	padding: 10px 15px;
	color: white;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
	margin-top: 25px;
	text-decoration: none;
	transition: 0.5s;
}

.button:hover
{
	background: white;
	color: black;
}

.popup
{
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.popup-content
{
	height: 600px;
	width: 440px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
}

input
{
	margin: 19px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid grey;
	color: black;
}

/*.enquiry
{
	position: absolute;
	height: 100px;
	width: 100px;
}*/

.close
{
	position: absolute;
	top: -15px;
	right: -15px;
	background: #fff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
	cursor: pointer;

}




